.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

.btn-main {
  transition: box-shadow 0.3s ease, background 0.1s ease;
  background: $gold;
  color: #ffffff;
  padding: 14px 70px;
  &:hover {
  }

  &:active {
  }
}

.btn-transparent {
  transition: all 0.3s ease-in-out;
  background: transparent;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 14px 70px;
  &:hover {
    background: $gold;
    border: 1px solid $gold;
  }

  &:active {
  }
}
