.experience {
  margin-top: 180px;
  background: #111010;
  padding-bottom: 80px;
}

.experience__wrap {
  display: flex;
  justify-content: flex-end;
}

.experience__right {
  max-width: 970px;
  width: 100%;
}

.experience__left {
  max-width: 380px;
  margin-top: auto;
  position: absolute;
  right: 925px;
  top: 357px;
}

.experience__left h4 {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-top: auto;
}

.experience__right_count {
  font-weight: bold;
  font-size: 206px;
  line-height: 282px;
  position: absolute;
  top: 28px;
  left: -69px;
}

.experience__right_info {
  position: relative;
  padding: 24px 26px;
  width: 372px;
  height: 372px;
  display: flex;
  border: 3px solid #7a6648;
}

.expirience__bot {
  margin-top: 120px;
  // padding-left: 504px;
  .container {
    display: flex;
    align-items: flex-start;
  }
}

.experience__bot_text {
  max-width: 380px;
  margin-right: 80px;
}

@media (max-width: 1440px) {
  .experience__wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1260px;
  }
  .experience__left {
    right: auto;
    left: 70px;
  }

  .experience__bot_text {
    padding-left: 37px;
  }
}

@media (max-width: 1200px) {
  .experience__left {
    position: static;
    margin-left: 50px;
  }

  .expirience__bot {
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .experience__right_count {
    font-size: 120px;
    line-height: 1;
  }

  .experience__left h4 {
    font-size: 17px;
    line-height: 140%;
  }

  .experience__right_info {
    width: 230px;
    height: 200px;
    padding: 10px 17px;
  }

  .experience__right_count {
    top: -7px;
    left: -40px;
  }
}

@media (max-width: 768px) {
  .experience__wrap {
    flex-direction: column-reverse;
  }

  .experience__left {
    margin: 56px auto 0;
  }

  .expirience__bot .container {
    flex-direction: column;
    align-items: center;
  }

  .experience__bot_text {
    margin: 0;
    padding: 0;
    max-width: none;
  }

  .expirience__bot .btn {
    margin-top: 30px;
  }
}

@media (max-width: 550px) {
  .expirience__bot {
    margin-top: 30px;
  }

  .expirience__bot .btn {
    width: 100%;
    text-align: center;
  }
}
