.hero {
  position: relative;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 80px #000, inset 0 0 40px #000, inset 0 0 160px #000;
}

.hero__wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: 210px;
  right: 0;
}

.logo-subtitle {
  font-family: Noto sans;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 13px;
  text-align: right;
  letter-spacing: 4px;
}

.hero-gd {
  position: absolute;
  top: 155px;
  right: 0;
  width: 1301px;
  height: 284px;
  background: linear-gradient(270deg, #000 1.67%, rgba(0, 0, 0, 0) 57.29%);
}

.hero__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
  margin-bottom: 177px;
  position: relative;
}

.hero-arr {
  position: absolute;
  bottom: -60px;
  left: 47%;
  transform: translateX(-50%);
}

.hero__bottom {
  .btn {
    position: relative;
    left: 47%;
    transform: translateX(-50%);
    padding: 14px 60px;
  }
}

@media (max-width: 1440px) {
  .hero {
    height: 550px;
  }

  .hero-gd {
    height: 136px;
  }

  .logo {
    height: 72px;

    img {
      height: 100%;
    }
  }

  .logo {
    position: absolute;
    top: 146px;
    right: 0;
  }
}

@media (max-width: 768px) {
  .hero__bottom .btn {
    bottom: 30px;
  }

  .hero {
    height: 100vh;
  }

  .logo {
    left: 50%;
    transform: translateX(-50%);
    top: 149px;
    img {
      width: 100%;
    }
  }

  .hero {
    .socials {
      display: none;
    }
  }

  .menu {
    max-width: 50%;
  }
}

@media (max-width: 550px) {
  .burger {
    width: 62px;
    height: 56px;
    &::before,
    &::after {
      height: 8px;
      background: #9a9494;
    }

    span {
      top: 23px;
      height: 8px;
      background: #9a9494;
    }
  }

  .logo {
    height: auto;
    width: 100%;
    top: 169px;
  }

  .menu {
    max-width: 100%;
  }

  .hero-gd {
    height: 221px;
  }
}

@media (max-width: 375px) {
  .hero-gd {
    height: 206px;
  }
}
