.map-section {
  margin-top: 115px;
  background: #1f1d1d;
}

.map-section__nav {
  padding: 108px 0;
  display: flex;

  nav {
    margin-right: 68px;
    &:last-of-type {
      margin-right: 0;
    }

    h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 35px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    li {
      margin-bottom: 32px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.map-section__wrap {
  display: flex;
  height: 470px;
  justify-content: space-between;
  position: relative;
}

.map-section__map {
  width: 50%;
  
}

.logo-map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}

@media (max-width: 1024px) {
  .map-section__wrap {
    flex-direction: column;
    height: auto;
  }

  .map-section__map {
    width: 100%;
    height: 300px;
  }

  .map-section__nav {
    padding: 50px 0;
    justify-content: space-around;
  }

  .map-section__nav nav h3 {
    line-height: 1;
    margin-bottom: 20px;
  }

  .map-section__nav nav li {
    line-height: 1;
  }
}

@media (max-width: 550px) {
  .map-section__nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .map-section__nav nav {
    margin-right: 0;
}

  .map-section__nav-menu {
    margin-right: 0;
    margin-bottom: 30px;
    font-size: 30px;
    color:#6D5B3F;
    margin-bottom: 78px;
    li {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .map-section__nav-contacts {
    font-size: 22px;
    line-height: 111%;
    li {
      text-align: center;
    }
  }

  .logo-map {
    display: none;
  }

  .map-section__heading-menu {
    display: none;
  }
  .map-section__heading-contacts {
    text-align: center;
    font-size: 22px;
  }

  .hero__bottom .btn {
    left: 50%;
}
}
