.partners {
  padding-top: 90px;
  .title-h2-l {
    text-align: center;
  }

  .btn {
    margin-top: 28px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
  }
}

.partners__wrap {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.partners__item {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  img {
    object-fit: contain;
  }
}

@media (max-width: 1440px) {
  .title-h2-l {
    font-size: 48px;
  }

  .parthers__item {
    width: 20%;
    margin-right: 140px;
    &:last-of-type {
      margin-right: 0;
    }
    img {
      margin: 0 auto;
    }
  }
}

@media (max-width: 1024px) {
  .partners {
    padding-top: 80px;
  }

  .partners .title-h2-l {
    font-size: 36px;
    line-height: 140%;
  }
  .partners__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .parthers__item {
    margin-right: 60px;
    max-width: 220px;
    height: 100px;
    width: 100%;
    margin-bottom: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 768px) {
  .partners .title-h2-l {
    font-size: 28px;
    line-height: 140%;
  }

  .parthers__item {
    width: 48%;
    max-width: none;
    margin-right: 0;
  }

  .partners__wrap {
    justify-content: space-around;
  }
}

@media (max-width: 550px) {
  .partners__item {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}
}
