.portfolio-hero {
  height: 540px;
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
    right: auto;
    z-index: 10;
  }
}

.portfolio-hero__wrap {
  flex-direction: row;
}

.portfolio-hero-arr {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 2;
}

.portfolio-hero__left {
  height: 100%;
  width: 50%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.8);
  }

  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    min-width: 240px;
    text-align: center;
  }
}

.portfolio-hero__right {
  height: 100%;
  width: 50%;
  position: relative;
  img {
    height: 100%;
    width: 100%;
    display: block;
    filter: brightness(0.8);

    object-fit: cover;
  }

  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    min-width: 240px;
    text-align: center;
  }
}

