<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="burger">
        <span></span>
      </div>

      <div class="header__right">
        <div class="header__lang">
          <a href="#">EN</a>
          <a href="#">UA</a>
        </div>
      </div>
    </div>
  </div>

  <div class="menu">
    <a href="#" class="menu-logo"
      ><img src="./images/logo-square.svg" alt=""
    /></a>

    <nav class="menu-nav">
      <ul>
        <li><a href="portfolio.html">Портфолио</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">О студии</a></li>
        <li><a href="#">Порядок работ</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Отзывы</a></li>
      </ul>
    </nav>
  </div>
</header>
